 
 body{
    /*background-image: url(images.jpg);*/
    background-color: azure;
    }
    
        header{
            background-color: rgb(61, 233, 23);
            border: 5px solid black;
            padding: 10px;
           } 

    


  